<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecro_2"
        tools:targetApi="31">
        <activity
            android:name=".Deslizamientos"
            android:exported="false" />
        <activity
            android:name=".Inundaciones"
            android:exported="false" />
        <activity
            android:name=".Terremotos"
            android:exported="false" />
        <activity
            android:name=".Incendios"
            android:exported="false" />
        <activity
            android:name=".Erupciones"
            android:exported="false" />
        <activity
            android:name=".EmergenciaFragment"
            android:exported="false" />
        <activity
            android:name=".MapaFragment"
            android:exported="false" />
        <activity
            android:name=".InicioFragment"
            android:exported="false" />
        <activity
            android:name=".menu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>